body {
   overflow-x: hidden;
}

body>.row {
   margin: 0;
}

body,
button {
   font-family: "museo", "Segoe UI", sans-serif !important;
   font-size: 15px;
   font-weight: 300;
}

*:focus {
   outline: none !important;
}

a {
   color: inherit;
   text-decoration: none;
}

h5 {
   font-size: 20px;
}

.home {
   height: 100vh;
   background-image: url("/images/IMG_20180203_163848.jpg");
   background-size: cover;
   background-position-y: bottom;
   color: white;
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
}

.home .container {
   position: relative;
}

.azulzinho {
   position: relative;
}

.azulzinho::before {
   content: "";
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   position: absolute;
   background-color: rgba(2, 21, 96, 0.29);
   z-index: 0;
   pointer-events: none;
}

.nav-mae {
   position: fixed;
}

.nav-mae nav {
   background-color: rgba(4, 13, 35, 0.75);
   box-shadow: none;
   text-transform: uppercase;
}

.nav-mae ul {
   white-space: nowrap;
   overflow-x: auto;
   max-width: 100%;
}

.nav-mae ul li {
   display: inline-block;
   float: none;
}

.cool-button {
   background-color: rgba(0, 0, 0, 0.1);
   padding: 10px 15px;
   font-size: 16px;
   border: solid 3px #fff;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
}

.cool-button:hover {
   background-color: #fff;
   color: #212121;
}

.simple-flex {
   display: flex;
   flex-wrap: wrap;
   font-weight: 100 !important;
}

.features-column {
   padding: 0 40px;
}

.features-column .row {
   width: 100%;
   margin: 0;
}

.divisor-fofo {
   height: 2px;
   width: 100px;
   display: inline-block;
   background-color: #e2e2e2;
}

.row.foto-navegacao .col {
   color: white;
   font-size: 20px;
   position: relative;
   flex-grow: 1;
   overflow: hidden;
   padding: 100px 0;
   height: 220px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.row.foto-navegacao .col img {
   position: absolute;
   z-index: -2;
   top: 0;
   width: 100%;
   left: 0;
   bottom: 0;
   margin: auto;
   filter: brightness(100%);
   transition: .5s filter, .5s width, .5s left;
}

.row.foto-navegacao .col:hover img {
   filter: brightness(80%);
   width: 110%;
   left: -5%;
}

.row.foto-navegacao .col span {
   z-index: 2;
}

.no-mrg-bot {
   margin-bottom: 0 !important;
}

.cool-carousel .item {
   height: 225px;
   /* overflow: hidden; */
}

.cool-carousel .item .azulzinho {
   height: 100%;
   width: 100%;
   padding: 0 5px;
   box-sizing: border-box;
}

.cool-carousel .item .azulzinho::before {
   width: calc(100% - 10px);
}

.cool-carousel img {
   height: 100%;
}

.cool-carousel img.active {
   cursor: zoom-in;
}

.slick-prev {
   left: 25px;
   z-index: 1;
}

.slick-next {
   right: 25px;
}

.focused {
   animation: focus 2s;
}

@keyframes focus {
   0% {
      background-color: rgba(255, 255, 0, 0.25);
   }
   50% {
      background-color: rgba(255, 255, 0, 0.25);
   }
   to {
      background-color: rgba(255, 255, 0, 0);
   }
}
